<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>com.local.plexautosubs</string>
  <key>CFBundleName</key>
  <string>Plex Auto Subs</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>PlexPluginVersion</key>
  <string>1</string>
  <key>PlexPluginClass</key>
  <string>SubtitleAutoFixPlugin</string>
  <key>PlexPluginCode</key>
  <string>Contents/Code/__init__.py</string>
  <key>PlexPluginMode</key>
  <string>daemon</string>
  <key>PlexPluginURL</key>
  <string>http://127.0.0.1:32400</string>
</dict>
</plist>
